<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">

        <div class="card">
            <div class="card-header bg-dark text-white d-flex justify-content-between">
                <h3>Empolyee</h3>
                <a href="/create" class="btn btn-primary">Add Empolyee</a>
            </div>
            <div class="card-body">
                <table class="table" id="datatables">
                    <thead>
                        <tr>
                            <th scope="col">S No</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% employees.forEach((employee,index)=>{ %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><img src="<%= employee.image%>" alt=""></td>
                            <td><%= employee.name%></td>
                            <td><%= employee.email%></td>
                            <td><%= employee.phone%></td>
                            <td><%= employee.address%></td>
                            <td><%= employee.salary%></td>
                            <td>
                                <a href="/edit/<%= employee._id%>" class="btn btn-warning">Edit</a>
                                <a href="#" class="btn btn-danger" onclick="document.getElementById('delete-<%=employee._id %>').submit()" >Delete</a>  

                                <form id="delete-<%=employee._id%>" action="/delete/<%= employee._id%>" method="post">

                                </form>

                            </td>
                        </tr>
                        <% } )%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>

    <script>
        let table = new DataTable('#datatables');
    </script>
</body>

</html>